
.home_body {
	 background: linear-gradient(black, #2B0963, #080E4E, #471481, #080E4E);
	 background-repeat: no-repeat;
	 background-size: cover;
	 height: 300%;
	 color: white; 

}
.stars{
	background-image: asset-url('stars.gif');
	background-size: cover;
	position: relative;
    overflow: hidden;
    color: #FFFFFF;
    height: 170vh;
}

.Spielberg {
	font-size: 80px;
	/*background-color: black;*/
	height: 300px;
}
.work {
	height: 800px;
	width: 100%;
}
/*------------------clouds--------------------*/
.cloud1{
	background-image: asset-url('cloud1.png');
	margin-top: 300px;
}

/*---------Spielberg quotes animation--------------- */
.animation-box {
  width: 75%;
  height: 55.5rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.animation-container {
  width: 1000rem;
  height: 30rem;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
  
}

@keyframes topFadeOutVertical {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    right: 10rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10rem;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.first-text {
  font-size: 4.4rem;
  position: absolute;
  left: 2.5rem;
  top: 9rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 15s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  color: white;
}

.second-text {
  font-size: 3.4rem;
  position: absolute;
  top: 8.5rem;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 15s;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  color: #ccc;
}

.third-text {
  transform: rotate(-90deg);
  font-size: 2rem;
  position: absolute;
  left: 45%;
  top: 45%;
  opacity: 0;
  animation-name: topFadeOutVertical;
  animation-delay: 7.5s;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  color: #A3DDF0;
  white-space: nowrap;
}

.fourth-text {
  font-size: 3.4rem;
  position: absolute;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeInOut;
  animation-delay: 8.5s;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

.fifth-text {
  font-size: 5rem;
  position: absolute;
  left: 5%;
  bottom: 25%;
  opacity: 0;
  color: #F0EBA3;
  animation-name: bottomFadeOut;
  animation-delay: 10s;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

/*-----------Elephant Line Animation---------------*/

svg {
  stroke-dasharray: 600;
  animation: dash 15s infinite;
  fill: transparent;
  position: relative;
  margin-top: -150px;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1200;
  }
}

svg.water .st5 {
	animation: water 700s infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: -1200;
  }
}
/*---------------About Us--------------*/

.about_us {
  margin-top: -300px;
  margin-left: 700px;
}
svg.about_us_letter {
 margin-top: -1100px;
}
.work {
  margin-top: 150px;
}
.about_us_description {
  margin-top: 20px;
  margin-left: 50px;
  position: relative;
  font-size: 53px;
  width: 80%;
}

/*---------------About Us--------------*/
.waves {
  position: relative;
  margin-top: -1300px;
  height: 60%;
  background-color: #080E4E;
  margin-top: 100px;
  position: relative;
}

.sailboat {
  background-image: asset-url('sailboat1.png');
  height: 70vh;
  width: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -700px;
  position: relative;
  animation: sailboat 5s linear infinite;
  margin-left: 1000px;
  z-index: 50;
}
@keyframes sailboat {
  100% { 
    transform: translateX(-300.6666%);  
  }
}

/*------------------sail away text ------------------------*/
.sixth-text {
  margin-left: 300px;
}

.seventh-text {
  margin-left: 600px;
  font-size: 80px;
}
.eighth-text {
  margin-left: 800px;
  font-size: 120px;
}